@import "../../vendor/bower/bootstrap-sass/assets/stylesheets/bootstrap.scss";
/* Set height for footer sake! */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  /* Top helper for fixed navbar */
  padding-top: 70px;
}
.navbar > .container .navbar-brand{
  color: orange;
  font-family: garamond;
  font-size: 24px;
  font-style: italic;
}

.page-h{
  border-bottom: 1px dotted #ccc;
  font-style: italic;
  color: darkslategrey;
}
.main-showcase{
  width: 100%;
  height: 380px;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
    /* Top helper for fixed navbar */
    padding-top: 120px;
  }
}